/* 
    COLOR PALLETTE 

    Licorice: #1E000E
    Wine: #823038
    Hooker's Green: #496F5D
    Glaucous: #6279B8
    Alice Blue: #D9E1E8
    Powder Blue: #9EADD0
    Light Blue: #C1EEFF
*/ 

/* GLOBAL STYLES
----------------------------------------- */ 
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%; 
}
body {
    background: #823038;
    margin: 0; 
}

/* LINK STYLES 
----------------------------------------- */ 

a {
    color: #6279B8;
}
a:hover {
    color: #C1EEFF;
    text-decoration: none;
}
footer a {
    color:  #1E000E;
}
footer a:hover {
    color: #D9E1E8; 
}
.btn {
    background: #1E000E; 
    color: white; 
    text-decoration: none; 
}
.content-wrapper {
    margin: 0 auto; 
    max-width: 900px;
    padding:30px; 
}

/* HOME 
----------------------------------------- */ 

.home {
    background: url(../images/bg-2500px.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.home .content-wrapper {
    flex: 1 0 auto; 

}
.content-bg {
    background: rbg(255 255 255 / 0.9); 
    padding: 30px; 
}

/* RESUME 
----------------------------------------- */ 
.resume header::before {
    background: url(../images/bg-2500px.png) center;
    background-size: cover; 
    content: ""; 
    display: block; 
    height: 375px; 
}
.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px dashed #6279B8;
}
.download-link {
    position: fixed; 
    top: 5px; 
    left: 5px; 
}

/* PORTFOLIO
----------------------------------------- */ 

/* PROJECTS 
----------------------------------------- */ 
.project-item {
    display: flow-root; 
    margin: 30px 0; 
}
.project-item img {
    width: 300px; 
    float: left; 
    margin-right: 20px;
}

/* WORK EXPERIENCE 
----------------------------------------- */ 

/* EDUCATION 

----------------------------------------- */ 

/* FOOTER 
----------------------------------------- */ 

.footer {
    background: #496F5D; 
    color:#D9E1E8; 
}
.socials{
    list-style-type: none;
    padding: 0; 
}
.socials li {
    display: inline-block; 
}
.socials img {
    width: 32px; 
}